<li class="log-book">
        <img class="log-cover" src="{{ book.data.cover }}" alt="{{ book.data.book-title }} by {{ book.data.author }}">
        <span class="log-title"><em><a href="{{ book.url }}">{{ book.data.book-title }}</a></em> <span
                        class="log-dir">by {{
                        book.data.author }}</span></span>
        <span class="log-date">{% if book.data.status == "Read"%}{{ book.data.date | toUTC }}{% else %}{{
                book.data.status }}{% endif %}
        </span>
        <span>{% if book.data.rating %}<span class="log-rating">{% renderStar book.data.rating %}</span>{% endif %} <span class="log-icon">
                {% if book.data.reread %}{% lucide "refresh-cw" %}{% endif%} {%if book.data.favourite %}{% lucide "heart" %}{% endif %}</span> {%if book.data.bookBug %}
                <a href="/logs/bookbug">{% lucide "bug" %}</a>{%endif %} {% if book.data.bookClub %}{% lucide "users-round" %}{% endif %} {% if book.data.hasReview %}
                {% lucide "text" %}{% endif %}
        </span>
</li>